:where(.css-dev-only-do-not-override-4ouft6).ant-space-gap-col-small {
  column-gap: 1px;
  background-color: #D9D9D9;
  overflow: hidden;
}

:where(.css-dev-only-do-not-override-4ouft6).ant-collapse .ant-collapse-content>.ant-collapse-content-box {
  padding: 0;
}